<div *ngIf = "showlogin">
   <div class = "project-title"> 
    <h2><i>POLICE REPORT CLASSIFIER</i></h2>
   </div>
   <form class="form-horizontal border border-dark col-lg-5 rounded login-form">
      <div class = "form-group row" style = "margin-top : 10px">
        <label class = "control-label col-md-3">UID :</label>
        <input type = "text" class="col-md-8 form-control" name = "uid" placeholder = "Enter Police UID Number" [(ngModel)] = "uid">
        
      </div>
      <div class = "form-group row">
        <label class = "control-label col-md-3">Password :</label>
        <input type = "Password" class="col-md-8 form-control" name = "password" placeholder = "Enter Password" [(ngModel)] = "password">
        
      </div>

      <div class = "form-group row">
        <label class = "control-label col-md-3">Re-Enter Password :</label>
        <input type = "Password" class="col-md-8 form-control" name = "confirmpassword" placeholder = "Enter Password Again" [(ngModel)] = "confirm">
        
      </div>      

      <div class = "form-group row">
        <span class = "col-md-1"></span>
        <button class="btn btn-primary col-md-3" (click)="clickonLogin()">LOGIN</button>
        <span class = "col-md-3"></span>
        <button class = "btn btn-danger col-md-4" (click) = "clickonSignup()">SIGN UP</button>
      </div>
      
      <div *ngIf = "show_alert" class = "form-group row">
        <div class = "alert">{{alert_message}}</div>
        <button class = "btn btn-link" (click) = "ResetDetails()">Clear All</button>
      </div>
      
   </form>
</div>
