.project-title {
    margin-top: 20px;
    margin-left: 30%;

}

.input-form {
    margin-left: 20%;
    align-content: center;
    align-self: center;
    margin-right: 20%;
}

.result-box {
    margin-left: 20%;
    align-content: center;
    align-self: center;
    margin-right: 20%;
}